/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background: #e6e6e6;
  border-top: 2px solid #d3c7f5;
  margin-top: 60px;
  flex-wrap: wrap;
  gap: 30px;
}

.footer h3 {
  margin-bottom: 8px;
  font-size: 20px;
}

.footer h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer p {
  margin: 4px 0;
  color: #555;
  cursor: pointer;
  transition: 0.2s;
}

.footer p:hover {
  color: #6c3ec1;
}
