/* Signup.css */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f6f7;
  margin: 0;
  padding: 0;
}

/* Centered container */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Form box */
.form-box {
  background-color: #fff;
  width: 400px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.form-box h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.tagline {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: 600;
  color: #333;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.input-group input:focus {
  border-color: #5e36b0;
  outline: none;
  box-shadow: 0 0 5px rgba(141, 37, 137, 0.5);
}

.input-group small {
  display: block;
  color: #777;
  font-size: 0.85rem;
  margin-top: 4px;
}

.btn {
  width: 100%;
  background-color: #5e36b0;
  color: white;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 0px;
}

.btn:hover {
  background-color: #c37ad0;
}
.btn:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}